body{
    font-family: Arial;
    font-size: 20px;
}
body,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.wrap{
    width: 70%;
    height: 200px;
    line-height: 200px;
    margin: 50px auto;
    background-color: #fff;
}
.wrap h1{
    font-size: 50px;
    text-align: center;
    height: 20px;   
}
.effect{
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3),
                0px 0px 40px rgba(0,0,0,0.1) inset;
    position: relative;
}
.effect:before,.effect:after{
    content: "";
    background: #fff;
    border-radius: 100px/10px;
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    bottom: 0px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    z-index: -1;
}
.box{
    width: 980px;
    height: auto;
    clear: both;
    overflow: hidden;
    margin: 20px auto;
}
.box li{
    width: 300px;
    height: 210px;
    position: relative;
    float: left;
    margin: 20px 10px;
    border: 2px solid #efefef;
    box-shadow: 0 1px 4px rgba(0,0,0,0.27),
                0 0 60px rgba(0,0,0,0.1) inset;
    background: #fff;
}
.box li img{
    display: block;
    width: 290px;
    height: 200px;
    margin: 5px;
}
.box li::before{
    content:"";
    position: absolute;
    width: 90%;
    height: 80%;
    left: 20px;
    bottom: 8px;
    background: transparent;
    box-shadow: 0 8px 15px rgba(0,0,0,0.6);
    transform: skew(-12deg) rotate(-4deg);
    z-index: -1;
}
.box li::after{
    content:"";
    position: absolute;
    width: 90%;
    height: 80%;
    right: 20px;
    bottom: 8px;
    background: transparent;
    box-shadow: 0 8px 15px rgba(0,0,0,0.6);
    transform: skew(12deg) rotate(4deg);
    z-index: -1;
}